.recent-service-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
  }
  
  .recent-service-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .service-status {
    color: #5a67d8;
  }
  